<!DOCTYPE html>
<html>
<head>
    <title>PROFILE CHECKER</title>
</head>
<body>
<i>* no guarantees / doesn't scale / might be useful anyway?*</i>
<br>
<br>
<label for="address">Enter the address of the profile you would like to check:</label>
<input id="address" type="text" name="address" placeholder="0x.....">
<button id="search" type="submit">Search</button>

<h4>Similar Faces</h4>
<div id="results">
    
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">

$('#search').click(function(){
    $('#search').html('LOADING...(this can take a while)');

    let address = $('#address').val()

  
    $.ajax({url: "/check/"+address.toLowerCase()}).done(function(data) {
        console.log(data)
        $('#results').html('')
        for(let item in data){
          $('#results').append("<a href='https://app.proofofhumanity.id/profile/"+data[item]+"?network=mainnet'><img src='/faces/"+data[item]+".jpg' width='300px' height='auto'/><br>"+data[item]+"</a><br>")
        }

        $('#search').html('Search');
    });

    
})

</script>

</body>
</html>